<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-android-fcm-plugins" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>FCMPlugin</name>
	<license>JNTU</license>
	<keywords>FCM,plugin,cordova</keywords>
	>
	<js-module name="FCMPlugin" src="www/FCMPlugin.js"><clobbers target="cordova.plugins.FCMPlugin" />
</js-module>

<platform name="android">
	<config-file parent="/*" target="res/xml/config.xml">
		<feature name="FCMPlugin">
			<param name="android-package" value="com-android-fcm-plugins.FCMPlugin" />
		</feature>
	</config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">

		<service android:name="com.android.fcm.plugins.PushIdBaseMessageService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
		<service android:name="com.android.fcm.plugins.RefreshTokenId">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
			</intent-filter>
		</service>

		<framework src="com.google.firebase:firebase-core:+" />
		<framework src="com.google.firebase:firebase-messaging:+" />

		<framework src="src/android/build.gradle" custom="true" type="gradleReference"/>

	</config-file>
	<source-file src="src/android/FCMPlugin.java" target-dir="src/com-android-fcm-plugins" />
	<source-file src="src/android/MyMessageService.java" target-dir="src/com-android-fcm-plugins" />
	<source-file src="src/android/MyRefreshToken.java" target-dir="src/com-android-fcm-plugins" />
</platform>
</plugin>